@media (max-width: 768px) {
    .testimonialDiv {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .listDiv {
        grid-template-columns: 2fr;
        gap: 15px;
    }
}